overwrite: true
schema:
  - "https://api.alpha.kidsloop.net/user/":
        headers:
          cookie:eyJhbGciOiJSUzUxMiIsInR5cCI6IkpXVCJ9.eyJpZCI6IjBkMzY4NmE2LWJmNmEtNDc3Ny1hNzE2LTMxY2U0YWEwZjUxNiIsImVtYWlsIjoic2Nob29sMTIyMWFAeW9wbWFpbC5jb20iLCJleHAiOjE2NDkzMzU4NjMsImlzcyI6ImtpZHNsb29wIn0.iyrMmtPdWmV37AnupRzu-2xKdJHeozD5cLMaeKBaAXrArSPMUJDCJTFS7sFc168cIN6TNX6QhO9UxIYKPejMUsBQ04ufxAB-vKfGErnTTAZrdP5fxQTwpFw9pKGQSWyKz7tzmex3Ljy8srdgL0aWgOpMUlI26FQ45oB2Or6yNmnzwgXZ8HXhmM3s_wMMeSI5e2r9gXtYq9UYb3RKi7zERGsMCgkr2Apk2crbpgWT1pfG8dEZs_xcBhS8ky2U9Sk7qgIMrmaF3lRTyy071BuAYaOjCnV9RjoQ5PdjtTu-_BTEtmajXStPoeCvSMKQxJlqybTeiIoDNtvk6RHt_v7_tA
documents: "src/api/*.gql"
generates:
  src/api/api-ko-schema.auto.ts:
    plugins:
      - typescript
  src/api/:
    preset: near-operation-file
    presetConfig:
      extension: .auto.tsx
      baseTypesPath: api-ko-schema.auto.ts
    plugins:
      - typescript-operations
      - typescript-react-apollo
